---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: user-grafana

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

resources:
  - ../../../common/base/rbac
  - ../../../common/base/core
  - ../../../common/base/auth

patches:
  # Add ArgoCD sync wave to Grafana instance
  - patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "1"
    target:
      group: grafana.integreatly.org
      version: v1beta1
      kind: Grafana
      name: grafana
  # Add ArgoCD sync wave to GrafanaDatasource
  - patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "1"
    target:
      kind: GrafanaDatasource
      name: prometheus-grafanadatasource
  # Patch datasource to reference auth secret
  - patch: |-
      - op: add
        path: /spec/valuesFrom
        value:
          - targetPath: "secureJsonData.httpHeaderValue1"
            valueFrom:
              secretKeyRef:
                name: grafana-auth-secret
                key: token
    target:
      kind: GrafanaDatasource
      name: prometheus-grafanadatasource
